# Packages to strip
PACKAGES="name_package"

# Debian mirror
MIRROR=http://arsip-dev.blankonlinux.or.id/blankon

# Debian distribution
DIST=rote

# Debian components
COMPONENTS="main"
ab
# Architectures covered
ARCHS="i386 amd64"

# Path to reprepro base directory
REPREPRO=/home/xxx/reprepro-nolocales/

# Work directory, make sure it is big enough to hold downloaded and extracted binaries
TMP=/home/xxx/babat-paket/blankon-nolocales/

